public/audio/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
public/img/events/**/*.jpg filter=lfs diff=lfs merge=lfs -text
public/img/events/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
public/img/events/**/*.png filter=lfs diff=lfs merge=lfs -text
public/img/events/**/*.webp filter=lfs diff=lfs merge=lfs -text
